In [1]:
!pip install kaggle
!pip install pandas pandas sqlalchemy pyodbc

Requirement already satisfied: kaggle in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2025.8.3)
Requirement already satisfied: charset-normalizer in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (3.4.3)
Requirement already satisfied: idna in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (6.33.0)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2.32.5)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (80.9.0)
Requirement already satisfied: six>=1.10 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from tqdm->kaggle) (0.4.6)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: sqlalchemy in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (2.0.44)
Requirement already satisfied: pyodbc in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (5.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\users\deelip kumar\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import kaggle
import pandas as pd

In [5]:
!kaggle datasets download -d shandeep777/retail-supply-chain-sales-dataset

Dataset URL: https://www.kaggle.com/datasets/shandeep777/retail-supply-chain-sales-dataset
License(s): other
retail-supply-chain-sales-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [6]:
import zipfile
zip_ref = zipfile.ZipFile('retail-supply-chain-sales-dataset.zip')
zip_ref.extractall()
zip_ref.close()

In [18]:

xls = pd.ExcelFile("retail-supply-chain-sales-dataset.xlsx")
print(xls.sheet_names)

['Retails Order Full Dataset', 'Calendar Table']

In [20]:
df= pd.read_excel('retail-supply-chain-sales-dataset.xlsx',sheet_name ='Retails Order Full Dataset')
df.to_csv('retail-supply-chain-sales-dataset.csv', index= False)
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Retail Sales People,Product ID,Category,Sub-Category,Product Name,Returned,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Cassandra Brandow,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,Not,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Cassandra Brandow,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Not,731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-12-06,2016-12-06,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Anna Andreadi,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Not,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Cassandra Brandow,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,Not,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Cassandra Brandow,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,Not,22.3680,2,0.20,2.5164

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Row ID               9994 non-null   int64
 1   Order ID             9994 non-null   object
 2   Order Date           9994 non-null   datetime64[ns]
 3   Ship Date            9994 non-null   datetime64[ns]
 4   Ship Mode            9994 non-null   object
 5   Customer ID          9994 non-null   object
 6   Customer Name        9994 non-null   object
 7   Segment              9994 non-null   object
 8   Country              9994 non-null   object
 9   City                 9994 non-null   object
 10  State                9994 non-null   object
 11  Postal Code          9994 non-null   int64
 12  Region               9994 non-null   object
 13  Retail Sales People  9994 non-null   object
 14  Product ID           9994 non-null   object
 15  Category             9994 non-null   object
 16  Sub-Category         9994 non-null   object
 17  Product Name         9994 non-null   object
 18  Returned             9994 non-null   object
 19  Sales                9994 non-null   float64
 20  Quantity             9994 non-null   int64
 21  Discount             9994 non-null   float64
 22  Profit               9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(15)
memory usage: 1.8+ MB

In [22]:
df.drop(columns='Row ID', inplace=True)
df.head(3)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Retail Sales People,Product ID,Category,Sub-Category,Product Name,Returned,Sales,Quantity,Discount,Profit
0,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Cassandra Brandow,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,Not,261.96,2,0.0,41.9136
1,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Cassandra Brandow,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Not,731.94,3,0.0,219.5820
2,CA-2016-138688,2016-12-06,2016-12-06,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,Anna Andreadi,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Not,14.62,2,0.0,6.8714

In [23]:
df.isnull().sum()

Order ID               0
Order Date             0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Postal Code            0
Region                 0
Retail Sales People    0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Returned               0
Sales                  0
Quantity               0
Discount               0
Profit                 0
dtype: int64

In [28]:
df['Order Date']= pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df.dtypes

Order ID                       object
Order Date             datetime64[ns]
Ship Date              datetime64[ns]
Ship Mode                      object
Customer ID                    object
Customer Name                  object
Segment                        object
Country                        object
City                           object
State                          object
Postal Code                     int64
Region                         object
Retail Sales People            object
Product ID                     object
Category                       object
Sub-Category                   object
Product Name                   object
Returned                       object
Sales                         float64
Quantity                        int64
Discount                      float64
Profit                        float64
dtype: object

In [26]:
df.describe()

,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,2016-04-11 07:17:44.078447104,2016-05-15 21:54:47.332399360,55190.379428,229.858001,3.789574,0.156203,28.656896
min,2014-01-02 00:00:00,2014-01-15 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2015-05-01 00:00:00,2015-06-20 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,2016-05-30 00:00:00,2016-07-21 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,2017-04-09 00:00:00,2017-06-02 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000
max,2017-12-30 00:00:00,2018-05-01 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,NaN,NaN,32063.693350,623.245101,2.225110,0.206452,234.260108

In [29]:
df.isna().sum()

Order ID               0
Order Date             0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Postal Code            0
Region                 0
Retail Sales People    0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Returned               0
Sales                  0
Quantity               0
Discount               0
Profit                 0
dtype: int64

In [34]:
#Handle the missing values
df.fillna({'City': 'Unknown', 'Discount': 0}, inplace=True)
df.dropna(thresh=5, inplace=True)

In [35]:
#Handling Duplicates
df.duplicated().sum()
df.drop_duplicates(inplace = True)

In [37]:
#Column Names
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [38]:
df['sales'] = pd.to_numeric(df['sales'], errors='coerce')
df['profit'] = pd.to_numeric(df['profit'], errors='coerce')
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')

In [39]:
df.head(3)

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,...,retail_sales_people,product_id,category,sub-category,product_name,returned,sales,quantity,discount,profit
0,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Cassandra Brandow,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,Not,261.96,2,0.0,41.9136
1,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Cassandra Brandow,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Not,731.94,3,0.0,219.5820
2,CA-2016-138688,2016-12-06,2016-12-06,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,Anna Andreadi,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Not,14.62,2,0.0,6.8714

In [47]:
df['sale_price'] = df['sales'] - df['discount_amount']
df['profit_margin_%'] = (df['profit'] / df['sales']) * 100
df['delivery_days'] = (df['ship_date'] - df['order_date']).dt.days
df['discount_amount'] = df['sales'] * (df['discount'] / 100)

In [48]:
df.head(3)

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,...,product_name,returned,sales,quantity,discount,profit,profit_margin_%,delivery_days,discount_amount,sale_price
0,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Bush Somerset Collection Bookcase,Not,261.96,2,0.0,41.9136,16.0,92,0.0,261.96
1,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Not,731.94,3,0.0,219.5820,30.0,92,0.0,731.94
2,CA-2016-138688,2016-12-06,2016-12-06,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,Self-Adhesive Address Labels for Typewriters b...,Not,14.62,2,0.0,6.8714,47.0,0,0.0,14.62

In [54]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'customer_name', 'segment', 'country', 'city', 'state', 'postal_code',
       'region', 'retail_sales_people', 'product_id', 'category',
       'sub-category', 'product_name', 'returned', 'sales', 'quantity',
       'discount', 'profit', 'profit_margin_%', 'delivery_days',
       'discount_amount', 'sale_price'],
      dtype='object')

In [58]:
#Connect to sql server 
import sqlalchemy as sal
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:5957%40YDK@localhost/deelipdb')
conn=engine.connect()

In [60]:
#Load the data into sql server using append option
df.to_sql('df_orders', con=conn, index=False, if_exists = 'append')

9993

In [62]:
df = pd.read_sql("SELECT * FROM df_orders LIMIT 5;", conn)
print(df)

         order_id order_date  ship_date       ship_mode customer_id  \
0  CA-2016-152156 2016-08-11 2016-11-11    Second Class    CG-12520
1  CA-2016-152156 2016-08-11 2016-11-11    Second Class    CG-12520
2  CA-2016-138688 2016-12-06 2016-12-06    Second Class    DV-13045
3  US-2015-108966 2015-11-10 2015-11-10  Standard Class    SO-20335
4  US-2015-108966 2015-11-10 2015-11-10  Standard Class    SO-20335

     customer_name    segment        country             city       state  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida

   ...                                       product_name returned     sales  \
0  ...                  Bush Somerset Collection Bookcase      Not  261.9600
1  ...  Hon Deluxe Fabric Upholstered Stacking Chairs,...      Not  731.9400
2  ...  Self-Adhesive Address Labels for Typewriters b...      Not   14.6200
3  ...      Bretford CR4500 Series Slim Rectangular Table      Not  957.5775
4  ...                     Eldon Fold 'N Roll Cart System      Not   22.3680

  quantity discount    profit profit_margin_% delivery_days  discount_amount  \
0        2     0.00   41.9136           16.00            92         0.000000
1        3     0.00  219.5820           30.00            92         0.000000
2        2     0.00    6.8714           47.00             0         0.000000
3        5     0.45 -383.0310          -40.00             0         4.309099
4        2     0.20    2.5164           11.25             0         0.044736

   sale_price
0  261.960000
1  731.940000
2   14.620000
3  953.268401
4   22.323264

[5 rows x 26 columns]